deploy/jbossas/modeshape-jbossas-console/target/
deploy/jbossas/modeshape-jbossas-service/target/
deploy/jbossas/modeshape-jbossas-web-rest-war/target/
deploy/jbossas/modeshape-jbossas-web-webdav-war/target/
deploy/jbossas/target/
extensions/modeshape-classloader-maven/target/
extensions/modeshape-clustering/target/
extensions/modeshape-connector-filesystem/target/
extensions/modeshape-connector-infinispan/target/
extensions/modeshape-connector-jbosscache/target/
extensions/modeshape-connector-jcr/target/
extensions/modeshape-connector-jdbc-metadata/target/
extensions/modeshape-connector-store-jpa/target/
extensions/modeshape-connector-svn/target/
extensions/modeshape-mimetype-detector-aperture/target/
extensions/modeshape-search-lucene/target/
extensions/modeshape-sequencer-classfile/target/
extensions/modeshape-sequencer-cnd/target/
extensions/modeshape-sequencer-ddl/target/
extensions/modeshape-sequencer-images/target/
extensions/modeshape-sequencer-java/target/
extensions/modeshape-sequencer-jbpm-jpdl/target/
extensions/modeshape-sequencer-mp3/target/
extensions/modeshape-sequencer-msoffice/target/
extensions/modeshape-sequencer-teiid/target/
extensions/modeshape-sequencer-text/target/
extensions/modeshape-sequencer-xml/target/
extensions/modeshape-sequencer-zip/target/
modeshape-cnd/target/
modeshape-common/target/
modeshape-graph/target/
modeshape-jcr-api/target/
modeshape-jcr/target/
modeshape-repository/target/
sandbox/guava-manifest
target/
utils/modeshape-jdbc/target/
utils/modeshape-jpa-ddl-gen/target/
web/modeshape-web-jcr-rest-client/target/
web/modeshape-web-jcr-rest-war/target/
web/modeshape-web-jcr-rest/target/
web/modeshape-web-jcr-webdav-war/target/
web/modeshape-web-jcr-webdav/target/
web/modeshape-web-jcr/target/
web/target/
